{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="card-container">
    {% for book in books %}
    <div class="card">
        <div class="card-inner" style="background-image: url('{{ book.cover }}')">
            <div class="card-front">
                <h2>{{ book.title }}</h2>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Release:</strong> {{ book.release_date }}</p>
                <p><strong>Pages:</strong> {{ book.pages }}</p>
            </div>
            <div class="card-back">
                <p>{{ book.summary }}</p>
                <a href="{{ book.wiki }}" target="_blank">Read more on Wiki</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
